:root{
  --primary:#2563eb;
  --primary-dark:#1d4ed8;
  --dark:#0f172a;
  --light:#f8fafc;
  --card:#ffffff;
  --gray:#64748b;

  --shadow:
  0 10px 30px rgba(0,0,0,.12);

  --radius:20px;
}
html{
  font-size: 16px;
  }

  body{
    min-width: 21.875rem;
  }
  a{
    text-decoration: none;
  }
 
  .header-contact-msg {
    margin: 0.625rem;
    font-weight: 600;
  }
  .message-card {
    border: 1px solid #333;
    margin: 0.625rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
  }

  .modal {
    display: none; /* hidden by default */
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(0.5rem);     
    -webkit-backdrop-filter: blur(0.5rem);

    z-index: 6;

    justify-content: center;
    align-items: center;
  }
  
  /* Modal content */
  .modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
  
    max-width: 40rem;
    width: 100%;
  }


  .modal-content button {
    display: block;
    width: auto;
    margin: 0.625rem 0;
    padding: 0.625rem;
    cursor: pointer;
    font-size: 1.2rem;

    transition: all 0.25s ease;

  }

  .modal-content h3 {
    text-align: center;
    font-weight: 600;
  }
  
  #closeModal {
    position: absolute;
    top: 0.938rem;
    right: 1.188rem;
    font-size: 1.3rem;

    background-color: #070606;
    color: #eae6e6;

    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .modal-content button:hover {
    transform: translateY(-0.188); /* 👆 lift */
    background: #555;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  }

  .wrapper{
    max-width:75rem;
    margin-inline:auto;
    scroll-behavior:smooth;
  }

  .home-me-text-container{
    display:grid;
    gap:1rem;
  
    padding:2rem;
  
    color:white;
  
    background:rgba(255,255,255,.08);
  
    backdrop-filter:blur(12px);
  
    border:1px solid rgba(255,255,255,.15);
  
    border-radius:24px;
  }

 .home-content-grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color:#424842;
  line-height: 1.5;
  align-self: center;
  justify-self: center;
  margin-top:  10rem;
  background:
  linear-gradient(
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)
  ),
  url('./images_folder/software2.jpg');
 }
 .header_text p{
  font-size: 1.5rem;
}

.home-content-grid span{
  display: block;
  font-size: 3rem;
}
 .home_bg_image {
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #FFFFFF;
 }
 .home-me-text-container h2{
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
 }
 .home-me-text-container p{
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  text-align: center;
 }
 .download {
  background:var(--primary);

  padding:1rem 2rem;

  border-radius:50px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin: auto;

  transition:.3s;
}

.download a {
  color:white;
}
a{
  text-decoration:none;
}
.download:hover{
  transform:translateY(-4px);

  box-shadow:
  0 15px 30px rgba(37,99,235,.35);
}


 .skills-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
 }
 .skills-items li {
  background:white;

  padding:2rem 1rem;

  border-radius:20px;

  box-shadow:var(--shadow);

  transition:.3s;
}

.skills-items li:hover {
  transform:translateY(-8px);
}
.applications{
  text-align: center;
  padding: 2rem;
 }
 .fa-brands {
  font-size:3rem;
  color:var(--primary);
}
.foot_items {
  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:3rem 2rem;

  background:var(--dark);

  border-radius:20px 20px 0 0;

  margin-top:5rem;
}
.footer-list-center li {
  color:white;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.home-contact-icons li {
  text-align: center;
  padding: 0.8rem;
  margin: 1rem 0rem;
}

.sub-head-skills {
  display: block;
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color:#424842;;
  text-transform: uppercase;
}

/* #message{
font-size: 1.7rem;
} */
#linkedin{
  color:white;
  font-size: 1.7rem;
}
#facebook{
  color:white;
  font-size: 1.7rem;
}
.home-contact-icons li a {
  color:white;
}
/* about me page Heading and text */
.about-me-container{
  display: grid;
  grid-template-columns: auto auto;
  gap:0rem;
 
}
p:nth-last-child(2){
  margin: 1rem 0rem;
}


.about_text{
  background:white;

  padding:2rem;

  border:none;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  border-radius:20px;

  box-shadow:var(--shadow);

  color:var(--dark);
}
.frank-image-large-screen{
  width:220px;
  height:220px;

  border-radius:50%;

  object-fit:cover;

  border:5px solid white;

  box-shadow:var(--shadow);
}
.about_image, .frank-image-large-screen {
  align-self: center;
}
/* .frank-image-about {
  filter: blur(0.1rem);
  transform: scale(1);
  transition: all 0.4s ease;
}

.frank-image-about:hover {
  filter: blur(0);
  transform: scale(1.05);
} */
.frank-image-about{
  display: none;
}
.about_text h3{
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
figure figcaption{
  display: none;
}
 /* contact info mobile page  */
 .forms_grid{
  display:grid;

  grid-template-columns:repeat(2,1fr);

  overflow:hidden;

  border-radius:20px;

  box-shadow:0 10px 30px rgba(0, 0, 0, 0.247);

  margin-top:4rem;
}
 .contact-container{
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 3rem;
 }
 .contact-left{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 2rem;
  background:#f8fafc;
  padding:3rem 0;
 }
 .contact-input {
  width:80%;

  max-width:500px;

  padding:1rem;

  border-radius:12px;

  border:1px solid #dbeafe;
}
.contact-input:focus{
  border-color:var(--primary);
  background:white;
}

.contact-submit{
  background:var(--primary)!important;
  color:white;
  font-size: 1.2rem;
  border-radius:50px;
  padding:1rem;
  cursor: pointer;
  transition:.3s;
}
.contact-submit:hover{
  transform:translateY(-4px);
}
.contact-banner-image{
  display: none;
}
.foot_nav a{
    display: block;
    color:white;
    margin: 1.5rem 1rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    text-align: right;
  
}

#top_id,
#about_me_id,
#contact_id{
  scroll-margin-top: 100px;
}

@media screen and (max-width: 639px) {
.skills-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.icon-name{
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
 }
 .applications{
  text-align: center;
  padding: 2rem 0rem;
 }
 .skills-items li{
  margin: 2rem 0rem;
 }
.fa-brands{
  font-size: 3rem;
}
}
@media screen and (max-width: 652px) {
  .about-me-container{
    display: block;
  }
  .about_text{
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    padding: 1rem;
    color:#424842;
    background-color:#FFFFFF;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    text-align: center;
  }
  .frank-image-about {
    cursor: pointer;
    width: 100%;
    height: 8rem;
    border-radius: 100%;
    max-width: 10rem;
    object-fit: cover;
    object-position: top;
    margin-bottom: -8rem;
  }
  .about-me-container p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #424842;
  }
  p:nth-last-child(2){
    margin: 1rem 0rem;
  }
  .about_image .frank-image-about{
   display: none;
}
.frank-image-large-screen{
  display: none;
}

.about_text h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #424842;
}
}
/*  mobile device  */
@media screen and (max-width: 665px) {
  .home-content-grid{
    display:block;
    margin-top:10rem;
    padding-top: 2rem;
    background:
    linear-gradient(
      rgba(0,0,0,0.65),
      rgba(0,0,0,0.65)
    ),
    url('./images_folder/software2.jpg');
    background-size:cover;
    background-position:center;
    line-height:1.5;
  }
  .home-me-text-container{
    display:grid;
    gap:1rem;
  
    padding:2rem;
    margin-top: 5rem;
    color:white;
  
    background:rgba(255,255,255,.08);
  
    backdrop-filter:blur(12px);
  
    border:1px solid rgba(255,255,255,.15);
  
    border-radius:24px;
  }
  .home-me-text-container p{
   font-size: 1.2rem;
}
.header_text p{
  font-size: 1rem;
  
}

.home_bg_image {
 text-align: center;
 align-self: center;
 text-transform: uppercase;
 font-family: "Poppins", sans-serif;
 font-size: 2rem;
 font-weight: 700;
 color: #FFFFFF;
}
.home-content-grid span{
  display: block;
  font-size: 3rem;
}
}

/*  mobile device for contact */
@media screen and (max-width: 620px) {
.forms_grid{
  display: grid;
  grid-template-columns: auto;
  gap: 0rem;
 }
 .contact-container {
  align-self: center;
  justify-self: center;
  padding: 1.2rem;
  text-align: center;
 }
 .foot_items{
  display: grid;
  justify-content: center;
   text-align: center;
 }
 .foot_nav a{
    display: block;
    color: white;    
    margin: 1.2rem 0rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    text-align: center;
 }
.home-contact-icons  li a{
 margin: auto;
}
.contact-container h4{
  color: #424842;
}

}


.dropdown{
  max-width:75rem;
  margin-inline:auto;

  position:fixed;
  top:0;
  left:0;
  right:0;

  display:grid;
  grid-template-columns:repeat(4,1fr);

  background:rgba(255,255,255,.95);

  backdrop-filter:blur(12px);

  box-shadow:0 4px 20px rgba(0,0,0,.08);

  z-index:4;
}
.dropdown-content{
 grid-column: 2 / span 4;
 padding: 2rem 3rem;
 text-align: right;
}

.dropdown-content a{
  border-left: 2px solid rgba(45, 45, 45, 0.676);
  padding-left: 10px;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
button {
   /* display: none; */
   text-align: left;
   color: #424842;
   outline: none;
   border: 0;
   font-size: 2.5rem;
   margin: 1.25rem;
   background-color: #ffffff !important;
 }
 .button_logo h1{
   display: none;
 }
 @media screen and (max-width: 734px) {

 .dropdown {
     z-index: 10;
     position: relative;
     display: inline-block;
     position: fixed;
 }
 .dropdown-content{
  display:none;

  background:white;

  width:95vw;

  margin:1rem auto;

  padding:1rem;

  border-radius:20px;

  box-shadow:
  0 15px 40px rgba(0,0,0,.15);
}
.dropdown-content a{
  display:block;

  width:90%;

  margin:.75rem auto;

  padding:1rem;

  border:none;

  border-radius:12px;

  background:#f1f5f9;

  font-weight:600;
}
 .dropdown-content a:hover {
     background-color: #f1f1f1;
 }
 .show {
     display: block;
 }
 button {
   color: #424842;
   outline: none;
   border: 0;
   font-size: 2.3rem;
   font-weight: 800;
   margin: 7px;
   padding: 0rem;
   background-color: #ffffff!important;
 }
 #personalImage {
     width: 200px; 
     transition: transform 0.5s ease; 
     cursor: pointer; 
 }
 #logo{
   font-family: "Poppins", sans-serif;
   text-transform: uppercase;
   font-size: 1.6rem;
   font-weight: 600;
   margin: 10px;
 }
 .button_logo{
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
 }
 .button_logo h1{
   display: block;
   text-align: right;
   
 }
 }
