
html{
  font-size: 16px;
  color:#2D4909;
  }
  body{
    min-width: 21.875rem;
  }
  a{
    text-decoration: none;
  }
 
  
  .modal {
    display: none; /* hidden by default */
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(0.5rem);     
    -webkit-backdrop-filter: blur(0.5rem);

    z-index: 3;

    justify-content: center;
    align-items: center;
  }
  
  /* Modal content */
  .modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
  
    max-width: 30rem;
    width: 100%;

  }

  .modal-content button {
    display: block;
    width: auto;
    margin: 0.625rem 0;
    padding: 0.625rem;
    cursor: pointer;
    font-size: 1.2rem;

    transition: all 0.25s ease;

  }

  .modal-content h3 {
    text-align: center;
    font-weight: 600;
  }
  
  #closeModal {
    position: absolute;
    top: 0.938rem;
    right: 1.188rem;
    font-size: 1.3rem;

    background-color: #070606;
    color: #eae6e6;

    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .modal-content button:hover {
    transform: translateY(-0.188); /* 👆 lift */
    background: #555;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  }

 .wrapper {
  max-width: 75rem;
  margin-inline: auto;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior:  smooth;
 }

.home-me-text-container{
  top: 20rem;
  display: grid;
  gap: 1rem;
  color: #FFFFFF;
  align-self: center;
  padding: 2rem 1rem;
  background-color:#424842;

}
 .home-content-grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color:#424842;
  line-height: 1.5;
  align-self: center;
  justify-self: center;
  margin-top:  10rem;
  background-image: url('./images_folder/software2.jpg');
 }
 .header_text p{
  font-size: 1.5rem;
}

.home-content-grid span{
  display: block;
  font-size: 3rem;
}
 .home_bg_image {
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #FFFFFF;
 }
 .home-me-text-container h2{
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
 }
 .home-me-text-container p{
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  text-align: center;
 }
 .download{
  background-color:#FFFFFF;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
 }

 .download, a{
  color:#424842;
  margin: auto;
 }
 .skills-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
 }
 .skills-items li{
  margin: 3rem 0rem;
  color:#424842;;
 }
.applications{
  text-align: center;
  padding: 2rem;
 }
.fa-brands{
  font-size: 3rem;
}
.foot_items{
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.footer-list-center li{
  color: #424842;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.home-contact-icons li{
  text-align: center;
  padding: 0.8rem;
  margin: 1rem 0rem;
}

.sub-head-skills{
  display: block;
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color:#424842;;
  text-transform: uppercase;
}

#message{
font-size: 1.7rem;
}
#linkedin{
  font-size: 1.7rem;
}
#facebook{
  font-size: 1.7rem;
}
.home-contact-icons li a {
  color: #424842;
}
/* about me page Heading and text */
.about-me-container{
  display: grid;
  grid-template-columns: auto auto;
  gap:0rem;
 
}
p:nth-last-child(2){
  margin: 1rem 0rem;
}
.about_text{
  grid-column: 1;
  grid-row: 1;
  color:#424842;
  align-self: center;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  padding: 1rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  border: 0.1rem solid #424842;
}
.frank-image-large-screen{
  width: 100%;
  height: 10rem;
  max-width: 10rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}
.about_image, .frank-image-large-screen {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  align-self: center;
}
.frank-image-about {
  filter: blur(0.1rem);
  transform: scale(1);
  transition: all 0.4s ease;
}

.frank-image-about:hover {
  filter: blur(0);
  transform: scale(1.05);
}
.frank-image-about{
  display: none;
}
.about_text h3{
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
figure figcaption{
  display: none;
}
 /* contact info mobile page  */
 .forms_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3rem;
  box-shadow: 5px 10px 8px 10px #888888;
 }
 .contact-container{
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 3rem;
 }
 .contact-left{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 2rem;
  background-color:#424842;
  padding: 3rem 0rem;
 }
 .contact-input{
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  width: 15rem;
 }
 .contact-input:focus{
  background-color:#757875;;
 }

 .contact-submit{
  border: none;
  outline: none;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color:#424842;;
  background-color:rgb(229, 237, 244) !important;
 }

.contact-banner-image{
  display: none;
}
.foot_nav a{
    display: block;
    color: #424842;
    margin: 1.5rem 1rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    text-align: right;
  
}
@media screen and (max-width: 639px) {
.skills-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.icon-name{
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
 }
 .applications{
  text-align: center;
  padding: 2rem 0rem;
 }
 .skills-items li{
  margin: 2rem 0rem;
 }
.fa-brands{
  font-size: 3rem;
}
}
@media screen and (max-width: 652px) {
  .about-me-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7rem auto;
  }
  .about_text{
    z-index: 1;
    grid-row: 2;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    padding: 1rem;
    color:#424842;
    background-color:#FFFFFF;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    text-align: center;
  }
  .frank-image-about {
    cursor: pointer;
    width: 100%;
    height: 8rem;
    border-radius: 100%;
    max-width: 10rem;
    object-fit: cover;
    object-position: top;
    margin-bottom: -8rem;
  }
  .about-me-container p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #424842;
  }
  p:nth-last-child(2){
    margin: 1rem 0rem;
  }
  .about_image,
.frank-image-about{
  display: block;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-left-radius:2rem ;
  border-top-right-radius: 2rem;
  justify-self: end;
}
.frank-image-large-screen{
  display: none;
}

.about_text h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #424842;
}
}
/*  mobile device  */
@media screen and (max-width: 665px) {
  .home-content-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    line-height: 1.5;
    background-image: url('./images_folder/software2.jpg');
    width: 100%;
   }
   .home-me-text-container{
    display: grid;
    gap: 1rem;
    color: #FFFFFF;
    align-self: center;
    margin-top: 2rem;
    padding-left: 1rem;
  }
  .home-me-text-container p{
   font-size: 1.2rem;
}
.header_text p{
  font-size: 1rem;
  
}

.home_bg_image {
 text-align: center;
 align-self: center;
 text-transform: uppercase;
 font-family: "Poppins", sans-serif;
 font-size: 2rem;
 font-weight: 700;
 color: #FFFFFF;
}
.home-content-grid span{
  display: block;
  font-size: 3rem;
}
}

/*  mobile device for contact */
@media screen and (max-width: 620px) {
.forms_grid{
  display: grid;
  grid-template-columns: auto;
  gap: 0rem;
 }
 .contact-container {
  align-self: center;
  justify-self: center;
  padding: 1.2rem;
  text-align: center;
 }
 .foot_items{
  display: grid;
  justify-content: center;
   text-align: center;
 }
 .foot_nav a{
    display: block;
    color: #424842;
    margin: 1.2rem 0rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    text-align: center;
 }
.home-contact-icons  li a{
 margin: auto;
}
.contact-container h4{
  color: #424842;
}

}


.dropdown {
 max-width: 75rem;
 margin-inline: auto;
 position: fixed;
 display: grid;
 grid-template-columns:repeat(4, 1fr);
 top: 0;
 background-color:#ffffff;
 width: 100%;
}
.dropdown-content{
 grid-column: 2 / span 4;
 padding: 2rem 3rem;
 text-align: right;
}

.dropdown-content a{
  border-left: 2px solid rgba(45, 45, 45, 0.676);
  padding-left: 10px;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
button {
   /* display: none; */
   text-align: left;
   color: #424842;
   outline: none;
   border: 0;
   font-size: 2.5rem;
   margin: 1.25rem;
   background-color: #ffffff !important;
 }
 .button_logo h1{
   display: none;
 }
 @media screen and (max-width: 734px) {

 .dropdown {
     z-index: 10;
     position: relative;
     display: inline-block;
     position: fixed;
 }
 .dropdown-content {
     display: none;
     /* position: absolute; */
     background-color: #ffffff; 
     text-align: center;                
     padding: auto;
     z-index: 99;
 }
 .dropdown-content a {
   display: block;                    

   padding: 0.75rem 0;
   text-decoration: none;
   color: #424842;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   text-align: center;                /* Centers text inside the link */
   text-transform: uppercase;
   border: 0.125rem solid #696969;
   margin: 0.5rem auto;                  /* Vertically spaces & horizontally centers the block */
   border-radius: 6px;                /* Optional: rounds corners for style */
}
 .dropdown-content a:hover {
     background-color: #f1f1f1;
 }
 .show {
     display: block;
 }
 button {
   color: #424842;
   outline: none;
   border: 0;
   font-size: 2.3rem;
   font-weight: 800;
   margin: 7px;
   padding: 0rem;
   background-color: #ffffff!important;
 }
 #personalImage {
     width: 200px; 
     transition: transform 0.5s ease; 
     cursor: pointer; 
 }
 #logo{
   font-family: "Poppins", sans-serif;
   text-transform: uppercase;
   font-size: 1.6rem;
   font-weight: 600;
   margin: 10px;
 }
 .button_logo{
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
 }
 .button_logo h1{
   display: block;
   text-align: right;
   
 }
 }
